################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################
.gitignore
.vs/
RapChessGui/obj/
RapChessGui/Debug/
RapChessGui/Release/Tournament.pgn
RapChessGui/Release/tournament.txt
RapChessGui/Release/RapChessGui.exe.config
RapChessGui/Release/Ini/*.ini
*.pdb
*.pdb
*.his
*.rtf
*.log
*.log
*.pgn
*.pgn
*.ini
*.txt
*.user
/RapChessGui-Setup/Debug
