################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################
obj/
Debug/
.vs/
.gitignore
*.pdb
*.user
*.config
*.zip
*.ini