################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################
.gitignore
.vs/
*/obj/
*/Debug/
*.pdb
*.pdb
*.his
*.rtf
*.log
*.log
*.pgn
*.pgn
*.ini
*.txt
*.user
/RapChessGui-Setup/Debug
